<h1>Registracija</h1>
<div class="text-center">
  <form [formGroup]="registerForm" novalidate (ngSubmit)="register()">     
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="ml-3" formControlName="email"/>
      <label for="password">Sifra:</label>
      <input type="password" class="ml-3" formControlName="password"/>
      <label for="name">Ime:</label>
      <input type="text" class="ml-3" formControlName="name"/>
      <label for="surname">Prezime:</label>
      <input type="text" class="ml-3" formControlName="surname"/>
      <label for="address">Adresa:</label>
      <input type="text" class="ml-3" formControlName="address"/>
      <label for="birthday">Datum Rodjenja:</label>
      <input type="date" class="ml-3" formControlName="birthday"/>
      <label for="type">Tip:</label>
      <select (change)='selectChange()' id="type" formControlName="type">
        <option value="Obican" selected>Obican</option>
        <option value="Student">Student - Djak</option>
        <option value="Penzioner">Penzos</option>
      </select>
    </div>
    <button type="submit">Potvrdi</button>
  </form>
  <br>
  <label>{{message}}</label>
  <br>
  <div *ngIf="selectedValue == 'Student' || selectedValue=='Penzioner'">
    <label>AA</label>
  </div>
</div>
