<div *ngIf="dataSource">
  <h1>CENOVNIK</h1>
  <mat-form-field class='ticketsFilter'>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="content">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="pricelist">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tip karte </th>
        <td mat-cell *matCellDef="let element"> {{element.productTypeName}} </td>
      </ng-container>
      <ng-container matColumnDef="person">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tip osobe </th>
        <td mat-cell *matCellDef="let element"> {{element.person}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} din</td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)='selectRow(row)' ></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id, 'disabled-row': !UserCanBuy(row)}" (click)="selectTicket(row)"></tr>
    </table>
  </div>
  <br>
  <div>
    <button mat-flat-button color="primary" class='matButtonStyle' (click)='buyTicket(selectedRowElement)'>Kupi</button><br>
    <label *ngIf='selectedRowElement'>{{selectedRowElement.pricelist}} {{selectedRowElement.person}} {{selectedRowElement.price}} din</label><br>
    <label style="color: red">{{message}}</label>
  </div>
</div>
  