:host {
    color: white;
}

h1{
    color:white;
    text-align: left;
    margin-left: 35px;
  }

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.content {
    height: 630px;
    overflow-y: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
  }

  .highlight{
    background: #f1a72e; /* green */
  }

  .disabled-row {
    background: #3a0f0f;
  }

  .mat-row:hover {
    background-color:#f7c859;
    cursor: pointer;
  }

  .mat-row.disabled-row:hover {
    background-color:#791c1c;
    cursor: pointer;
  }

  .ticketsFilter {
    margin-left: 10px;
  }