:host {
    display: inline-block;
    background-color: #191919;
    position: absolute;
    transform: translate3d(-400px,0,0);
    height: 100%;
    top: 0;
    box-shadow:0 0 15px 0px;
    overflow-y: auto;
}

.leftMenuHolder {
    display: inline-block;
    width: 400px;
    max-width: 400px;
    height: 100%;
}