<app-left-menu id='leftPanel' class='animationPanel'>
</app-left-menu>
<div id='map-holder' class='animationPanel' style="width:100%; height:100%">
    <!-- <a class="nav-link text-primary" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link text-primary" [routerLink]='[{ outlets: { leftRouter: ["timetable"] } }]' routerLinkActive="active">Timetable</a>
    <a class="nav-link text-primary" [routerLink]='[{ outlets: { rightRouter: ["login"] } }]' routerLinkActive="active">Login</a> -->
    <div id='mapOverlay' class='map-no-overlay'></div>
    <div #map style="width:100%; height:100%"></div>
</div>
<app-right-menu id='rightPanel' class='animationPanel'></app-right-menu>