.times {
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  margin-left: 10px;
}

.daySelector-container {
  display: flex;
  justify-content: space-around;
}

.prigradskiSelector-container {
  display: flex;
  justify-content: space-around;
}

.btnPrikaziRedVoznje {
  margin-top: 30px;
}

mat-error{
  float: right;
}

h1{
  color:white;
  text-align: left;
  margin-left: 35px;
}

.timetableJedanSat {
  font-size: 1.3em;
}

.timetableMinut {
  margin-left: 11px;
  font-size: 1.1em;
}

.selectedLineName {
  color: white;
  margin: 0;
  margin-left: 8px;
  font-size: 1.1em;
}