select{
  overflow: hidden;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 0.9em;
}

select option {
  width: 300px;
}

.times {
  height: 680px;
  overflow-y: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
}

.daySelector-container {
  display: flex;
  justify-content: space-around;
}

.prigradskiSelector-container {
  display: flex;
  justify-content: space-around;
}

.btnPrikaziRedVoznje {
  margin-top: 30px;
}