:host{
    color: white;
}

.logout{
    margin-top: 10px;
    margin-right: 10%;
    text-align: right;
    margin-bottom: 10px;
}

.btn-right-w-33{
    width: 33%;
    margin-right: 10px;
    margin-top: 10px;
  }