<h1>PRIJAVA</h1>
<div>
  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()" style='text-align: center;'>     
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input (focus)='clearMessage()' formControlName='email' matInput placeholder="Email" required>
        <mat-error *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors['required']">Obavezno polje</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].errors['email']">Nije validna email adresa</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input (focus)='clearMessage()' type="password" formControlName='password' matInput placeholder="Lozinka" matNativeControl required>
        <mat-error *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">Obavezno polje</mat-error>
      </mat-form-field>
    </div>
    <label class="text-red">{{message}}</label><br>
    <button mat-flat-button color="primary" class='matButtonStyle' type="submit">Prijavi se</button>
  </form>
</div>
