:host {
    color:white;
}

.ticketIdSearch {
    margin-left: 10%;
    width: 80%;
}

.btnProveriKartu {
    margin-left: 10%;
}

.msg {
    color: white;
    margin-left: 10%;
}

.errorMsg {
    color: red;
}